<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthTokenServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17311/AuthTokenService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthTokenServiceSoap"
                contract="SSOValidate.AuthTokenServiceSoap" name="AuthTokenServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>